body, 
html {
    min-height: 100%;
}

#app {
    min-height: 100%;
}

.container {
    margin: auto;
    max-width: 800px;
    width: 100%;
    display: flex;
    min-height: 100vh;
    margin-bottom: 50px;
}